#intro {
  margin-bottom: 0;
}

#alert {
  padding: 5%;
}

.alert-text {
  font-weight: bolder;
  margin: .5rem 0;
}

#email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin: 1rem 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 1rem;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}

#email-submit {
  display: block;
  border: 0;
  font-size: 16px;
  width: 100%;
  background: #2f80ed;
  padding: 1rem 4rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.thanks-text {
  text-align: center;
  font-size: 24px;
}
